# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
.venv/
.envrc

# Env files
.env
*.env

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# Byte-compiled
*.so

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Coverage / testing
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.pytest_cache/

# Migrations (если нужны — можно оставить)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
